@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}


.app {
  display: flex;
  position: relative;
}

.header {
  align-items: center;
width:95%;
  top: 0;
  left: 0;
  right: 0;  
  height:60px;
 
  display: flex;
  justify-content: space-between;
 
  font-family: 'Oxygen', sans-serif;
  content: center;
}
